.carousel {
	position: relative;
	display: flex;
	overflow: auto;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.images {
	border-radius: 0.5rem;
	box-shadow: 0 0 7px #676;
}

.dot-container {
	position: absolute;
	display: flex;
	bottom: 1rem;
}

.carousel-dot {
	border-radius: 100%;
	height: 0.7rem;
	width: 0.7rem;
	background-color: gray;
	box-shadow: 0 0 5px #565;
	margin: 0 0.2rem;
	cursor: pointer
}

.current-indicator {
	background-color: white;
}

.svg-back {
	cursor: pointer;
	position: absolute;
	left: 30%;
	filter: drop-shadow(0 0 5px #555);
}

.svg-next {
	cursor: pointer;
	position: absolute;
	right: 30%;
	filter: drop-shadow(0 0 5px #555);
}

.other-images {
	opacity: 0;
	display: none;
}
